<html>
        <head>
            <title>Clarkson Weather API</title>
            <link rel="stylesheet" type="text/css" href="static/style.css">
        </head>

        <body>
        <div id="content">
          <div class="clarksonImg">
            <header>
                <img src="https://moodle.clarkson.edu/pluginfile.php/1/theme_mb2nl/logo/1704383830/Clarkson%20University%20Logo%20no%20shield.png" alt="Header Image">
            </header>
        </div>
        
        <div class="heading">
            <h1>Weather API</h1>
        </div>
          {% block content %}
          {% endblock %}
        </div>
        <script type="application/javascript">
        </script>

		</body>
    
    </html>